@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

.color-trans {
  @apply transition-colors duration-1000;
}

.no-transition * {
  transition: none !important;
}

.card-title {
  @apply dark:text-white text-xl font-medium transition-colors duration-1000;
}


.card-text {
  @apply dark:text-white transition-colors duration-1000;
}

.card-small {
  @apply dark:text-white text-sm transition-colors duration-1000;
}

.gradient-mask {
  mask-image:
    radial-gradient(circle at 50% -120%, black 0%, rgba(0, 0, 0, 0.7) 37%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.2) 70%, transparent 80%);
  -webkit-mask-image:
    radial-gradient(circle at 50% -120%, black 0%, rgba(0, 0, 0, 0.7) 37%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.2) 70%, transparent 80%);
}

.timeline-fade {
  mask-image: 
    linear-gradient(to bottom, black, transparent);
  -webkit-mask-image:
    linear-gradient(to bottom, black, transparent);
}

.bg-gradient {
  background-image: url("media/mesh-gradient.png");
}
