@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
}

.color-trans {
  @apply transition-colors duration-1000;
}


.card-title {
  @apply dark:text-white text-xl font-medium transition-colors duration-1000;
}


.card-text {
  @apply dark:text-white transition-colors duration-1000;
}

.card-small {
  @apply dark:text-white text-sm transition-colors duration-1000;
}

.imgbox {
  mask-image:
      radial-gradient(circle at 60% -120%, black 0%, rgba(0, 0, 0, 0.6) 37%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.1) 70%, transparent 80%);
  /* -webkit-mask-image:
      radial-gradient(circle, black 0%, rgb(0, 0, 0, 20) 47%, rgb(0, 0, 0, 10) 62%, transparent 80%, transparent 100%); */
}

.bg-gradient {
  background-image: url("media/mesh-gradient.png");
}
